<h1>Movie Show</h1>

<h2>Movies Details</h2>

<ul>
  <li>Title: <%= @movie.title %></li>
  <li>Creation Year: <%= @movie.creation_year %></li>
  <li>Genre: <%= @movie.genre %></li>
  <li>Actors:
    <ul id="movie-<%= @movie.id %>-actors">
      <% @movie.actors.each do |actor| %>
        <li id="movie-<%= @movie.id %>-actor-<%= actor.id %>">
          <%= actor.name %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
